@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn{
        @apply inline-block rounded-lg px-5 py-3 focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base
    }
    .btn-primary{
        @apply  bg-[#0FA9E6] hover:bg-[#3FBAEB] focus:ring-[#0FA9E6] focus:ring-opacity-50 active:bg-[#0C87B8] text-white
    }

    .btn-secondary{
        @apply bg-gray-300 hover:bg-gray-200 focus:ring-gray-300 focus:ring-opacity-50 active:bg-gray-400 text-gray-800
    }
}